<div>
    <h1><%=@name%></h1>
    <img src=<%= @photo %> alt ="https://www.vectorstock.com/royalty-free-vector/no-image-available-icon-flat-vector-25898826" width="200" height="250">
    <h2>Title :<%= @title %></h2>
    <h3>Address : <%= @address %></h3>
    <h3>Party : <%= @party %></h3>
    <h3>OCDID : <%= @ocdid %></h3>
</div>