.col-12.col-md-6.offset-md-3.col-xl-4.offset-xl-4
  %h3.text-center Edit News Item
  %h6 Representative: #{@representative.name}
  %h6 Issue: #{@issue}
  %h6 Select an article:
  - @top_articles_list.take(5).each do |article|
    .card-body
      .card-text
        %dl.row
          %dt.col-sm-3.text-md-right Title:
          %dd.col-sm-9= article[:title]
        %dl.row
          %dt.col-sm-3.text-md-right Description:
          %dd.col-sm-9= article[:description]
        %dl.row
          %dt.col-sm-3.text-md-right Link:
          %dd.col-sm-9
            %a{ href: article[:link], target: "_blank" }= article[:link]