.col-12.col-md-6.offset-md-3.col-xl-4.offset-xl-4
  %h3.text-center Top Articles for #{@representative.name}
  - @top_articles.each do |article|
    .card-body
      .card-text
        %dl.row
          %dt.col-sm-3.text-md-right Title:
          %dt.col-sm-9
            %a{ href: article['url'] }
              = article['title']
        %dl.row
          %dt.col-sm-3.text-md-right Description:
          %dt.col-sm-9
            = article['description']
        %dl.row
          %dt.col-sm-3.text-md-right Source:
          %dt.col-sm-9
            = article['source']['name']
        %dl.row
          %dt.col-sm-3.text-md-right Published At:
          %dt.col-sm-9
            = article['publishedAt']
  %div.row
    .card-text Rating
    %select
      %option 1
      %option 2
      %option 3
      %option 4
      %option 5
      